

body {
    background: url("images/main_background.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family:Sailec-Regular,system-ui,-apple-system,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.centered{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a {
    width: 50%;
    display: block;
    text-align: center;
    padding-bottom: 3px;
    color: red;
    margin-top: 100px;
    font-size: 20px;
    background: linear-gradient(to right, #DD7835, red);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    border: 3px solid;
    border-radius:15px 15px;
    text-decoration:none;

    
}

a:hover {
    color:#DD7835;
    text-decoration:none;
    transition: all .3s ease;
    
}
